# Ignore environment variables
.env

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment folder
.venv/
.env

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store

# Ignore downloaded PDF folders
webScraper/corporate_filings_pdfs/
webScraper/nse_quarterly_results_pdfs/